<p id="notice"><%= notice %></p>

<h1>Group: <%= link_to @group.name, @group %></h1>
<%= link_to '+ New Student', new_group_student_path, class: "btn btn-info" %>
<br>
<h1>Students:</h1>



<table class="table">
  <thead>
    <tr>
      <th>Full name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, [@group, student] %></td>
        <td style="text-align: end;"><%= link_to 'Edit', [:edit, @group, student], class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', [@group, student], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


