<p id="notice"><%= notice %></p>

<h1>Group: <%= link_to @group.name, @group %>, Students:</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= link_to 'Show', [@group, student] %></td>
        <td><%= link_to 'Edit', [:edit, @group, student] %></td>
        <td><%= link_to 'Destroy', [@group, student], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_group_student_path %>
