<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<%= link_to '+ New Group', new_group_path, class: "btn btn-info" %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td style="text-align: end;"><%= link_to 'Edit', edit_group_path(group), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


