<p id="notice"><%= notice %></p>

<h1>Group: <%= @group.name %></h1>
<p>
	<%= link_to 'Show list of students', group_students_path(@group), class: "btn btn-primary" %>
	<%= link_to 'Show list of subjects', group_subjects_path(@group), class: "btn btn-primary" %>
</p>

<%= link_to 'Edit group', edit_group_path(@group), class: "btn btn-warning" %>
