<p id="notice"><%= notice %></p>

<h1>Group: <%= link_to @group.name, @group %></h1>
<%= link_to ' + New Subject', new_group_subject_path, class: "btn btn-info" %>
<br>
<h1>List of Subjects:</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, [@group,subject] %></td>
        <td style="text-align: end;"><%= link_to 'Edit', [:edit, @group, subject], class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', [@group,subject], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


