<p id="notice"><%= notice %></p>
<h1>Group: <%= link_to @group.name, @group %></h1>
<h1>Subject <%= @subject.name %></h1>
<p>
  <strong>Instructor email:</strong>
  <%= @subject.user.email %>
</p>

<%= link_to ' + New Lesson', new_group_subject_lesson_path(@group, @subject), class: 'btn btn-info' %>
<%= link_to 'Edit Lesson', edit_group_subject_path(@subject), class: "btn btn-warning" %>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Attendance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<% @lessons.each do |lesson| %>
	    <tr>
	      <th scope="row"><%= lesson.id %></th>
	      <td><%= lesson.name %></td>
	      <td><%= lesson.start_time %></td>
	      <td><%= lesson.end_time %></td>
        <td><%= lesson.students.count * 100 / @group.students.count %>%</td>
	      <td><%= link_to 'Show', [@group, @subject, lesson] %></td>
	    </tr>
	    
	<% end %>
  </tbody>
</table>

	

