<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<%= link_to 'New Lesson', new_group_subject_lesson_path, class: "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.start_time %></td>
        <td><%= lesson.end_time %></td>
        <td><%= link_to 'Show', [@group, @subject, lesson] %></td>
        <td><%= link_to 'Edit', [:edit, @group, @subject, lesson] %></td>
        <td><%= link_to 'Destroy', [@group, @subject, lesson], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
