<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @lesson.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lesson.end_time %>
</p>

<%= link_to 'Edit', [:edit, @group, @subject, @lesson] %> |
<%= link_to 'Back', group_subject_path(@group, @subject) %>
